# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
from IPython.display import display

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [3]:
crime = pd.read_csv("US_Crime_Rates_1960_2014.csv")
crime.head(5)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [4]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [5]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.head(5)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 6. Set the Year column as the index of the dataframe

In [6]:
crime.set_index("Year", inplace=True)

### Step 7. Delete the Total column

In [7]:
del crime["Total"]
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [8]:
crime["dec"] = (crime.index.year / 10).astype(int)
display(crime.head(11))
res = crime.groupby("dec").sum()
res["Population"] = crime.groupby("dec")["Population"].mean()
display(res)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft,dec
Year,,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200,196
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000,196
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800,196
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300,196
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800,196
1965-01-01,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900,196
1966-01-01,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200,196
1967-01-01,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800,196
1968-01-01,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600,196
1969-01-01,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500,196
1970-01-01,203235298,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400,197

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
dec,,,,,,,,,,
196,191505317,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
197,212119329,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
198,237137006,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
199,261282525,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
200,294796911,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
201,314029261,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the mos dangerous decade to live in the US?

In [10]:
tmp = res.loc[:, "Violent" : "Vehicle_Theft"]
display(tmp.sum(axis=1) / res["Population"])
display(tmp.idxmax())

dec
196    0.514825
197    0.952216
198    1.105887
199    1.045469
200    0.779617
201    0.319307
dtype: float64

Violent               199
Property              199
Murder                199
Forcible_Rape         199
Robbery               199
Aggravated_assault    199
Burglary              198
Larceny_Theft         199
Vehicle_Theft         199
dtype: int64